/* Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Nav related Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header's related styles */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    margin: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 500px;
    margin-left: 200px;
}

/* main section related styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section related styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

#what-i-do-description {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 30px;
    margin: 15px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 6px 30px 0px rgba(236, 129, 80, 0.158);
}

.skill-description {
    color: #757575;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 30px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.download-cv {
    text-align: center;
    margin: 30px 0;
}

footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 50px;
}

.footer-column {
    width: 50%;
}

.social-links a {
    margin-left: 25px;
}

.contact input[type='text'],
input[type='email'],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    border-radius: 5px;
    width: 100%;
}